header, footer, nav, section {
	position : fixed;
	width : 100%;
}

header, footer {
	height : 40px;
	background-color : orange; color : black;
	font-size : 28px; text-align : center;
}

header {
	top : 0px;	
}

nav {
	top : 40px; height : 30px;
	padding-left : 20px;
	background-color : pink;
}

nav > a {
	padding : 0px 5px;
}

section {
	top : 70px; height : 100%;
	background-color : lightgray;
}

section > h1 {
	text-align : center;
}

table {
	margin : 0px auto;
}

table > * {
	text-align : center;
}

footer {
	bottom : 0px;
}
